.allProduct{
    display: flex;
    /* border: 1px solid red; */
}

.groupProduct{
    /* display: flex; */
    border: 1px solid red;
    margin-right: 6px;
    width: 33%;
    justify-content: flex-start;
}

.itemProduct {
     display: flex;
     border: 1px solid red;
     padding-bottom: 10px;
     justify-content: start;
     align-items: center;
}

.listItem{
    list-style: none;
}